.footer {
  background-color: #282c34;
  color: white;
  margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;

  p {
    margin: 0;
    opacity: 0.8;
  }
}
